.register-container {
  height: 100vh
}

.login-container {
  height: 100vh
}

.register-container {
  background-image: url(./assets/ecommerce.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.brandimg {
  border: 1px solid #F5B027;
  padding: 10px;
  box-shadow: 5px 5px #F5B027;
}

.login-container {
  background-image: url(./assets/ecommerce-login.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.password-icon {
  position: absolute;
  right: 13px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

@media screen and (min-width:1025px) {
  .hide-lg {
    display: none;
  }
}

@media screen and (max-width:426px) {
  .nav-links {
    width: 35% !important;
  }
}

.bg-color {
  background-color: #F5B027;
}

.bg-color:hover {
  background-color: #F5B027;
}

@media screen and (max-width:426px) {
  .my-profile-wrapper {
    margin-top: 12rem;
  }
}

.color-text {
  color: #F5B027;
}

.product-title {
  background: linear-gradient(to top, #DE6089 0%, #F6B696 100%);
}

.dynamic-products {
  border: 2px solid #E4778C;
  box-shadow: 5px 5px 5px lightgray;
}

.banner-single-img {
  background: linear-gradient(to top, #DE6089 0%, #F6B696 100%);
  box-shadow: 5px 5px 5px lightgray;
}

.banner-img {
  width: 500px;
  height: 400px;
}

@media screen and (max-width: 426px) {
  .banner-img {
    width: 390px !important;
    height: 200px !important;
  }
}

@media screen and (max-width: 376px) {
  .banner-img {
    width: 284px !important;
  }
}

.profile-name {
  width: 4%;
  height: 58px
}

input.search-input::placeholder {
  padding: 20px;
}


.btn-background-color {
  background-color: #F5B027;
}

.btn-background-color:hover {
  background-color: #F5B027;
}

.bg-color-grey {
  background-color: #212529
}

input.search-input {
  border: 1px solid #F5B027;
  outline: none;
}

.link-border {
  background-color: #F5B027;
  color: #000 !important;
  border-radius: 10px;
  transition: 0.3s ease;
}

.product-wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
}

/* swipper */

.product-card {
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  background: #fff;
  border-radius: 4px;
}

#root {
  background-color: #F8F9FA
}

.red-color {
  color: #b02a30
}

.bg-color-light {
  background-color: #F8F9FA !important
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  color: #b02a30 !important;
}

/* swipper */

.product-wrapper p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-img-wrapper {
  height: 280px;
}

.input-value-box {
  width: 20%;
}


.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .menu-icon {
    display: block;
  }

  .profile-name {
    display: none !important;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    position: fixed;
    top: 46px;
    left: -310px;
    height: 100vh;
    width: 17%;
    padding: 20px;
    text-align: center;
    background-color: #F8F9FA;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: linear-gradient(to top, #ddd6f3 0%, #faaca8 124%);
  }


  .nav-links.show {
    left: 0;
  }
}

/* admin css */
.admin-nav-links {
  flex-direction: column;
  position: absolute;
  position: fixed;
  top: 46px;
  left: -436px;
  height: 100vh;
  width: 17%;
  padding: 20px;
  text-align: center;
  background-color: #F8F9FA;
  transition: left 0.3s ease;
  z-index: 1000;
}

.dashboard-card {
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.dashboard-icon {
  opacity: 0.1;
  bottom: -10px;
  right: 10px;
  color: #000;
}

.dashboard-card span {
  font-weight: 600;
  font-size: 1.1rem;
}

.dashboard-card h3 {
  margin-top: 10px;
  color: #333;
}


.total-user-icon {}

.scroll-bar {
  width: 100% !important;
  overflow-x: scroll;
}

.table-header th {
  background-color: #F5B027 !important
}

.form-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background: linear-gradient(to top, #ddd6f3 0%, #faaca8 124%);
}

.navbar .admin-nav-links.show {
  left: 0;
  top: 0;
  background: linear-gradient(to top, #DE6089 0%, #F6B696 100%);

}

@media screen and (max-width:426px) {
  .admin-nav-links {
    width: 40%
  }
}

.model-popup {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border: 1px solid black
}

.pointer {
  cursor: pointer;
}

/* admin css */