.register-container {
  height: 100vh
}

.register-container {
  background-image: url(./assets/ecommerce.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}